/* .images-grid {
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}

.images-grid .box {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    overflow: hidden;
}
  
.images-grid .box img {
    max-width: 100%;
} */