{% extends 'base.html' %}

{% block title %}
    Image Explorer
{% endblock %}

{% block header %}
   <h1 class="text-3xl">50 random images</h1>
{% endblock %}


{% block content %}
<div class="images-grid">
    {% for image in images %}
      <div class="item">
        <div class="box">
          <a href="/image/{{ image }}">
            <img class="image" src="/img/{{ image }}" alt="image" />
          </a>
        </div>
      </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='imgStatus.js') }}"></script>
<script src="{{ url_for('static', filename='macy.js') }}"></script>
<script>
    imgStatus.watch('.image', function(imgs) {
    if (imgs.isDone()) {
      console.log("Images finished loading!");
      Macy({container: ".images-grid"});
    }
    });
    window.addEventListener('resize', function () {
      Macy({container: ".images-grid"});
    });
</script>

{% endblock %}

{% block js %}
{% endblock %}
